In [1]:
from price_loaders.tradingview import load_asset_price

In [2]:
load_asset_price("ZSU2025", 1000, "1D")

                         time     open     high      low    close  volume
0   2022-11-14 08:00:00+07:00  1285.75  1285.75  1285.75  1285.75     0.0
1   2022-11-15 08:00:00+07:00  1297.75  1297.75  1297.75  1297.75     0.0
2   2022-11-16 08:00:00+07:00  1284.75  1284.75  1284.75  1284.75     0.0
3   2022-11-17 08:00:00+07:00  1279.50  1279.50  1279.50  1279.50     0.0
4   2022-11-18 08:00:00+07:00  1279.25  1279.25  1279.25  1279.25     0.0
..                        ...      ...      ...      ...      ...     ...
700 2025-08-29 07:00:00+07:00  1028.00  1037.00  1024.00  1036.75   694.0
701 2025-09-02 07:00:00+07:00  1035.00  1035.00  1019.50  1025.75  1134.0
702 2025-09-03 07:00:00+07:00  1019.25  1019.75  1015.50  1016.00   583.0
703 2025-09-04 07:00:00+07:00  1012.00  1012.00  1007.50  1012.00   409.0
704 2025-09-05 07:00:00+07:00  1015.00  1015.00  1006.50  1006.50   127.0

[705 rows x 6 columns]